body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    position: absolute;
    text-align: center;
    flex: 1px;
    left: 46%;
    top: 30px;
}

.logo img {
    height: 150px;
}
  
.signup-container {
    text-align: center;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 160px;
}

.signup-container h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.signup-container h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.signup-container input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color:  rgb(50, 48, 48);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

.signup-container button {
    width: 100%;
    padding: 15px;
    background-color:  rgb(50, 48, 48);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 15px;
}

.signup-container button:hover {
    background-color: white;
    color: black;
}

.login-link {
    margin-top: 20px;
    font-size: 16px;
}

.login-link a {
    color: white;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

label {
    color:  rgb(50, 48, 48);
    float: left;
}